<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>大屏设计器</title>

    <link rel="stylesheet" href="dp_design/common/reset.css">
    <link rel="stylesheet" href="dp_design/common/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dp_design/common/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="dp_design/common/bootstrap4/bootstrap.css">
    <link rel="stylesheet" href="dp_design/common/contextjs/context.standalone.css">
    <link rel="stylesheet" href="dp_design/common/spectrum/spectrum.css">
    <link rel="stylesheet" href="dp_design/common/json-viewer/jquery.jsonview.css">
    <link rel="stylesheet" href="dp_design/common/ruler/css/ruler.css">
    <!--    <link rel="stylesheet" href="common/loading.css">-->
    <link rel="stylesheet" href="dp_design/common/ledtime/digital-clock.css">
    <link rel="stylesheet" href="dp_design/common/intro/introjs.css">
    <link rel="stylesheet" href="dp_design/common/select2/css/select2.min.css">
    <link rel="stylesheet" href="dp_design/common/swiper/swiper.min.css">
    <link rel="stylesheet" href="dp_design/common/autoscroll/autoscroll.css">
    <link rel="stylesheet" href="dp_design/core/design.css">
    <link rel="stylesheet" href="dp_design/core/box.css">
    <link rel="stylesheet" href="dp_design/core/prop.css">
    <link rel="stylesheet" href="dp_design/core/bg.css">

    <link rel="stylesheet" href="frame/assets/iview/styles/iview.css">

    <script src="dp_design/common/jquery/jquery-1.11.0.js"></script>
    <script src="dp_design/common/jquery-ui/jquery-ui.min.js"></script>
    <script src="dp_design/common/spectrum/spectrum.js"></script>
    <script src="dp_design/common/mousetrap/mousetrap.min.js"></script><!--键盘快捷键的类库-->
    <script src="dp_design/common/ruler/js/jquery.zxxPageRuler.1.1-custom.js"></script>
    <script src="dp_design/common/undo/undo.js"></script>
    <script src="dp_design/common/contextjs/context.js"></script><!--右键菜单-->
    <script src="dp_design/common/echarts/echarts.min.js"></script>
    <script src="dp_design/common/cache/jquery.cache.js"></script>
    <script src="dp_design/common/json-viewer/jquery.jsonview.js"></script>
    <script src="dp_design/common/scale.js"></script>
    <script src="dp_design/common/transform.js"></script>
    <script src="dp_design/common/boxSelect/boxSelect.js"></script>
    <script src="dp_design/common/select2/js/select2.full.js"></script>

    <script src="dp_design/core/design.js"></script>
    <script src="dp_design/core/box.js"></script>
    <script src="dp_design/core/prop.js"></script>
    <script src="dp_design/core/bulidTags.js"></script>
    <script src="dp_design/core/tagEdit.js"></script>
    <script src="dp_design/core/groupboxs.js"></script>
    <script src="dp_design/core/editEvent.js"></script>

    <script src="dp_design/export/export.js"></script>

    <script src="dp_design/web/dataTools.js"></script>
    <script src="dp_design/web/requestTools.js"></script>

    <!--代码在线编辑器-->
    <script src="dp_design/common/ace/ace.js"></script>
    <script src="dp_design/common/ace/ext-error_marker.js"></script>
    <script src="dp_design/common/ace/ext-spellcheck.js"></script>
    <script src="dp_design/common/ace/ext-options.js"></script>
    <script src="dp_design/common/ace/mode-javascript.js"></script>

    <script src="frame/assets/vue/vue.js"></script>
    <script src="frame/assets/iview/iview.min.js"></script>

    <script src="frame/assets/axios/axios.min.js"></script>
    <script src="frame/assets/sql-optimized.js"></script>


</head>
<body>
<div class="layout layout-Header">
    <div class="logo">大屏幕设计器</div>
    <ul class="tools tools-left" data-step="1" data-intro="在这里新建、打开、保存当前模版">
        <li class="tools-item" id="tools-new"><i title="新建" class="fa fa-file-o"></i></li>
        <li class="tools-item" id="tools-save"><i title="保存" class="fa fa-save"></i></li>
    </ul>
    <ul class="tools" data-step="5" data-intro="整个场景的配置属性都在这里了">
        <li class="tools-item" id="tools-scene"><i title="页面配置" class="fa fa-television"></i></li>
        <li class="tools-item" id="tags-props"><i title="组件属性配置" class="fa fa-sliders"></i></li>
        <li class="tools-item" id="tools-view"><i title="预览" class="fa fa-eye"></i></li>
        <li style="display: none;" class="tools-item" id="design-config"><i title="设置" class="fa fa-cog"></i></li>
        <li class="tools-item" id="tools-shortcutkey" data-step="7" data-intro="快捷键说明在这里，熟悉快捷键，事半功倍哦"><i title="快捷键"
                                                                                                         class="fa fa-keyboard-o"></i>
        </li>
        <li class="tools-item" id="tools-clearCache" title="清理本地缓存"><i title="清理本地缓存" class="fa fa-recycle"></i></li>
    </ul>
</div>

<div class="layout layout-Sider" data-step="2" data-intro="拖拽控件到场景中，创建图形">
    <div id="tabs">
        <ul>
            <li><a href="dp_design/component/charts.html">图表</a></li>
            <li><a href="dp_design/component/tags.html">组件</a></li>
            <li><a href="dp_design/component/icons.html">图标</a></li>
            <li><a href="dp_design/component/diyTags.html">自定义组件</a></li>
        </ul>
    </div>
</div>

<div class="layout layout-Content">
    <div id="content" style="width: 1920px; height: 1080px;" data-step="3" data-zoom="1"
         data-intro="场景图形展示区，配置好的图形会在这里展示">
        <div id="contentHandle"></div>
        <!--拖动辅助线-->
        <div id="guide-h" class="guide"></div>
        <div id="guide-v" class="guide"></div>
    </div>
</div>

<div id="rightnav" data-step="4" data-intro="控件属性数据配置区，在这里首先配置好控件的数据，然后修改控件的属性。">
    <i class="rightnav-close fa fa-angle-double-right"></i>
    <ul class="rightnav-tabs-ul">
        <li class="rightnav-tab"><a href="#data-box">数据</a></li>
        <li class="rightnav-tab"><a href="#config-box">属性</a></li>
        <li class="rightnav-tab"><a href="#senior-box">扩展</a></li>
    </ul>
    <div id="data-box" class="layout layout-Rightnav">
        <div class="container" style="padding: 10px;">
            <div class="row">
                <div class="col-md-12">
                    <label for="" class="input-title">数据来源</label> <label for="dataFromRadio-1">全局数据源</label>
                    <input type="radio" value="1" name="dataFromRadio" id="dataFromRadio-1">
                    <label for="dataFromRadio-2">请求链接</label>
                    <input type="radio" value="2" name="dataFromRadio" id="dataFromRadio-2">
                    <label for="dataFromRadio-3">JSON文件</label>
                    <input type="radio" value="3" name="dataFromRadio" id="dataFromRadio-3">
                    <label for="dataFromRadio-4">数据集</label>
                    <input type="radio" value="4" name="dataFromRadio" id="dataFromRadio-4">
                </div>
            </div>
            <div class="row" id="datalinkRow">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="datalink">链接地址</label> <input type="text" class="form-control" id="datalink"
                                                                  value=""/>
                        <button type="button" id="selectJSONFile" class="btn btn-primary btn-block">选择JSON文件</button>
                    </div>
                    <button type="submit" id="datalinkBtn" class="btn btn-primary btn-sm">获取数据格式</button>
                </div>
            </div>
            <div class="row" id="dataSetsRow" style="display: none;">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="datalink">可用数据集</label> <select name="" id="dataSetsSelect"
                                                                    style="width: 340px;"></select>
                        <button type="button" id="refreshDataSetsListBtn" class="btn btn-secondary">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <!-- <input type="text" class="form-control" id="datalink" value="" /> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row" id="server-dimension">
                            <div class="col-md-12">
                                <p class="lead">X轴</p>
                                <div class="data-dimension data-dimension-sets"></div>
                            </div>
                        </div>
                        <div class="row" id="server-series">
                            <div class="col-md-12">
                                <p class="lead">Y轴</p>
                                <div class="data-series data-series-sets"></div>
                            </div>
                        </div>
                        <div class="row" id="server-classify" style="display: none">
                            <div class="col-md-12">
                                <p class="lead">分类</p>
                                <div class="data-classify data-classify-sets"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p id="data-show"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="datalinkSaveBtn" class="btn btn-primary btn-sm">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div id="config-box" class="layout layout-Rightnav">
        <div id="config-panel"></div>
    </div>
    <div id="senior-box" class="layout layout-Rightnav">
        <div id="senior-panel"></div>
        <button id="jsoneditorSaveBtn" type="button">确认</button>
    </div>
</div>

<div class="stiemap">
    <i id="sitemapSwitch" class="fa fa-close"></i>
    <ul id="sitemap">
    </ul>
</div>

<div id="app">

    <modal title="快捷键说明" v-model="shortcutkey.status">
        <iframe src="dp_design/component/shortcutKey.html" width="100%" height="400">
            IE：你们都看我干吗，我现在也是支持的
        </iframe>
        <div slot="footer"></div>
    </modal>

    <modal title="图片文件选择" v-model="selectImage.status">
        <iframe src="dp_design/component/BddpImagesPage.html" width="100%" height="400">
            IE：你们都看我干吗，我现在也是支持的
        </iframe>
        <div slot="footer"></div>
    </modal>

    <modal title="场景设置" v-model="scene.status">

        <i-form :label-width="120">

            <form-item label="场景名称">
                <i-col span="12">
                    <i-input placeholder="场景名称" v-model="scene.sceneName" style="width:90%"/>
                </i-col>
            </form-item>

            <form-item label="推荐尺寸">
                <i-col span="12">
                    <Radio-group v-model="scene.sceneSize">
                        <Radio label="1920*1080"></Radio>
                        <Radio label="2560*1440"></Radio>
                        <Radio label="3840*1600"></Radio>
                        <Radio label="4096*2160"></Radio>
                    </Radio-group>
                </i-col>
            </form-item>

            <form-item label="自定义">
                <i-col span="6">
                    <i-input v-model="scene.sceneW" placeholder="宽" style="width: 80px"/>
                    *

                </i-col>

                <i-col span="6">
                    <i-input v-model="scene.sceneH" placeholder="高" style="width: 80px"/>
                </i-col>
            </form-item>

            <form-item label="背景颜色">
                <i-col span="12">
                    <input id="scenebgcolor"/>
                </i-col>
            </form-item>

            <form-item label="全局主题">
                <i-col span="12">
                    <Radio-group v-model="scene.globalTheme">
                        <Radio label="dark"></Radio>
                        <Radio label="halloween"></Radio>
                        <Radio label="walden"></Radio>
                        <Radio label="westeros"></Radio>
                        <Radio label="Wonderland"></Radio>
                    </Radio-group>
                </i-col>
            </form-item>

            <form-item label="背景图片">
                <i-col span="12">
                    <i-input v-model="scene.bdbgPath" placeholder="" clearable style="width:90%"/>
                </i-col>
            </form-item>

            <form-item label="">
                <Upload action="//jsonplaceholder.typicode.com/posts/">
                    <i-button icon="ios-cloud-upload-outline">上传图片</i-button>
                </Upload>
            </form-item>

        </i-form>

        <div slot="footer"></div>

    </modal>
</div>

<script>

    var app = new Vue({
        el: "#app",
        data: {
            shortcutkey: {
                status: false
            },
            selectImage: {
                status: false,
                propInputObj: {},
            },
            scene: {
                status: false,
                sceneName: "场景名称-" + new Date().getTime(),
                bdbgPath: "",
                globalTheme: "dark",
                sceneH: "",
                sceneW: "",
                sceneSize: "1920*1080"
            }

        },
        methods: {

            showShortcutkey: function () {
                this.shortcutkey.status = true;
            },
            showScene: function () {
                this.scene.status = true;
            },
            msg: function (msg) {
                this.$Message.info(msg);
            }

        },
        //挂载开始之前 获取相关数据
        beforeMount: function () {

        }
    });

    var list =[];
    list.push('10001');
    list.push('10002');
    list.push('10003');
    list.push('10004');
    list.push('10005');
    list.push('10006');
    list.push('10007');
    list.push('10008');
    list.push('10009');
    list.push('10010');
    list.push('10011');
    list.push('10012');
    list.push('10013');
    list.push('10014');
    list.push('10015');
    list.push('10016');
    list.push('10017');
    list.push('10018');
    list.push('10019');
    list.push('10020');
    list.push('10021');
    list.push('10022');
    list.push('10023');
    list.push('10025');
    list.push('10026');

    var list2 =[];

    list2.push('0');
    list2.push('1');
    list2.push('2');
    list2.push('3');
    list2.push('4');
    list2.push('4');
    list2.push('5');
    list2.push('6');
    list2.push('7');
    list2.push('8');
    list2.push('9');
    list2.push('10');
    list2.push('201');
    list2.push('202');
    list2.push('301');
    list2.push('302');
    list2.push('401');
    list2.push('402');
    list2.push('403');
    list2.push('404');
    list2.push('405');
    list2.push('406');
    list2.push('501');
    list2.push('502');
    list2.push('503');
    list2.push('504');
    list2.push('505');
    list2.push('506');
    list2.push('601');
    list2.push('101');
    list2.push('103');
    list2.push('901');
    list2.push('104');
    list2.push('105');
    list2.push('701');
    list2.push('902');
    list2.push('106');

    list2.push('107');
    list2.push('903');
    list2.push('1001');

    for(var i=0;i<list.length;i++) {

        for(var j=0;j<list2.length;j++) {
            executeSQL("select propitems.*,a.tagId FROM propitems LEFT JOIN (SELECT * FROM tagprop WHERE tagId=" + list[i] + ") a ON a.propId =propitems.id WHERE a.tagId NOTNULL and propitems.pId = '" + list2[j] + "' ORDER BY sqen", function (obj) {

                //var i = obj;//tableValsToNode(n);
                //a.initProp({data: obj})

            }, "item"+list[i]+"_" +list2[j]);
        }

    }

</script>

</body>
</html>